* {
 text-decoration: none;
 list-style: none;
 padding: 0;
 margin: 0;
 color: black;
 text-align: center;
 align-items: center;
 justify-content: center;
}
/* HEADER */
header {
    background-color: whitesmoke;
}
header h1 {
color: darkcyan;
}
.siteLogo {
    height: 30px;
    width: 30px;
}
/* MAIN CONTAINER/JUKEBOX */
.mainContainer {
background-color: bisque;
}
/* JUKEBOX LEFT */
.jukeboxLeft {
    background-color: darkcyan;
}
/* JUKEBOX MIDDLE */
.jukeboxMiddle {
    background-color: burlywood;
}
.siteLogoHome {
    height: 150px;
    width: 150px;
}

.albumPicMiddle {
    height: 150px;
    width: 150px;
}

.songTitle {
    background-color: cyan;
}

/* JUKEBOX RIGHT */
.jukeboxRight {
    background-color: darkcyan;
}
.albumPicSide {
    height: 50px;
    width: 50px;
}

/* FOOTER */
footer .navs {
    font-weight: bold;
}

footer {
    background-color: darkcyan;
    color: white;
    bottom: 0;
}

.copyright {
    font-style: italic;
    font-size: 12pt;
    color: white;
}

/* ABOUT US */
.companyInfoLogo {
    height: 40px;
    width: 40px;
}
.content {
    color: black;
}

.aboutUs {
    color: white;
    font-weight: bold;
    text-decoration: none;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 0.5s;
    visibility: hidden;
    opacity: 0;
}

.overlay:target {
    visibility: visible;
    opacity: 1;
}

.popup {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 30%;
    position: relative;
    transition: all 0.5s ease-in-out;
    text-align: center;
}

.popup h2 {
    margin: 10px;
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
    font-size: 16px;
}

.popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}

.popup .close:hover {
    color: goldenrod;
}

/* OUR DEV TEAM */
.linkLogo {
    height: 20px;
    width: 20px;
}

.devPics {
    height: 50px;
    width: 50px;
}

.teamList {
    text-align: center;
    padding: 0;
}

.teamList {
    background-color: #f1f1f1;
}

.teamList li {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.teamList li:hover {
    background-color: #ccc
}