* {
    text-decoration: none;
    list-style: none;
    padding: 0;
    margin: 0;
    color: white;
    text-align: center;
    align-items: center;
    justify-content: center;
}

input {
    color: black;
}

/* HEADER */
header {
    background-color: whitesmoke;
}

header h1 {
    color: darkcyan;
}

.siteLogo {
    height: 30px;
    width: 30px;
}

button {
    background-color: darkcyan;
    color: white;
    padding: .25rem;
    margin: .25rem;
    border-radius: 3px;
    border: none;
}

button:hover {
    background-color: cyan;
}

/* BACKGROUND STRUCTURE */
.backgroundStructure {
    background-image: url(/images/bubble.svg), url(/images/bubble.svg);
    background-size: 10%, 13%;
    background-repeat: space;
    background-clip: content-box;
    background-color: rgb(32, 154, 211);
}

/* .backgroundStructure {
    background-image: url(/images/sodaSound\ bubble&Text.svg), url(/images/bubble.svg);
    background-size: 100px 100px, 10%;
    background-repeat: space, space;
    background-clip: content-box;
    background-color: rgb(32, 154, 211);
} */
/* SODA MACHINE */
/* SODA MACHINE LEFT */
.logoNameCombo {
    display: inline-block;
    position: relative;
}

.logoNameCombo::before {
    content: '';
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    background: purple;
    width: 100vw;
    left: 50%;
    transform: translateX(-50%);
    z-index: -2;
}

.logoNameCombo::after {
    content: '';
    display: block;
    position: absolute;
    height: 101%;
    background: white;
    left: -.1em;
    right: -.1em;
    z-index: -1;
}

.logoNameCombo img {
    height: 100px;
    width: 100px;
}

.logoNameCombo h1 {
    color: darkcyan;
    font-size: 100pt;
    white-space: nowrap;
}

.sodaMachineLeft img {
    align-items: flex-end;
}

.sodaMachineLeft img {
    animation: bounce 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes bounce {

    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(-30px);
    }

    60% {
        transform: translateY(-15px);
    }
}


/* SODA MACHINE MIDDLE */
.sodaMachineMiddle {
    margin-top: 1rem;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    background-color: burlywood;
}

.boxBottle img {
    height: 275px;
    width: auto;
    /* border: rgb(129, 124, 124);
    border-width: 1px;
    border-style: solid;
    border-radius: 25px; */
}

.boxBottle img:hover {
    animation: shake 0.5s;
    animation-iteration-count: infinite;
}

@keyframes shake {
    0% {
        transform: translate(1px, 1px) rotate(0deg);
    }

    10% {
        transform: translate(-1px, -2px) rotate(-1deg);
    }

    20% {
        transform: translate(-3px, 0px) rotate(1deg);
    }

    30% {
        transform: translate(3px, 2px) rotate(0deg);
    }

    40% {
        transform: translate(1px, -1px) rotate(1deg);
    }

    50% {
        transform: translate(-1px, 2px) rotate(-1deg);
    }

    60% {
        transform: translate(-3px, 1px) rotate(0deg);
    }

    70% {
        transform: translate(3px, 1px) rotate(-1deg);
    }

    80% {
        transform: translate(-1px, -1px) rotate(1deg);
    }

    90% {
        transform: translate(1px, 2px) rotate(0deg);
    }

    100% {
        transform: translate(1px, -2px) rotate(-1deg);
    }
}

.albumGroup {
    background-color: bisque;
    border-radius: 25px;
}

.albumBox {
    background-color: slategray;
    border-radius: 25px;
}

.artistName {
    color: white;
    font-weight: normal;
}

/* ALBUM GROUP PART 1 */
.albumName {
    background-color: darkcyan;
    border-radius: 25px;
}

.reviewPop {
    background-color: darkcyan;
    border-radius: 3px;
    padding: 10px;
}

.reviewPop:hover {
    background-color: cyan;
}

.trashcan {
    height: 25px;
    width: auto;
}

.delete-button {
    background-color: slategray;
}

.delete-button:hover {
    background-color: rgb(187, 17, 17);
}

/* ALBUM GROUP PART 2 */
.albumCard ul li {
    color: white;
}

.albumRating h5 {
    color: white;
}

.albumRating p {
    color: white;
}

.albumPic {
    height: 200px;
    width: 200px;
}

.test {
    position: static;
    z-index: 1;
    opacity: 100%;
}

.cardText {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: darkcyan;
    height: 200px;
    width: 200px;
    z-index: 0;
    opacity: 0%;
}

.test:hover {
    position: static;
    z-index: 0;
    opacity: 0%;
}

.cardText:hover {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: darkcyan;
    height: 200px;
    width: 200px;
    z-index: 1;
    opacity: 95%;
}

.albumLeaveReview button {
    background-color: purple;
}

/* TRACKLISTINGS */
.plusSign {
    height: 10px;
    width: 10px;
}
.addSongHeading {
    padding-bottom: 2rem;
}
.addSongInputs button {
    background-color: purple;
}
.trackListings {
    border-radius: 25px;
    background-color: brown;
    margin: 1rem;
    padding: 1rem;
    width: 700px;
}
.songPopup {
    color: white;
    font-weight: bold;
    text-decoration: none;
}
.trackButton {
    background-color: slategray;
    border-radius: 3px;
}

.trackButton:hover {
    background-color: silver;
}

.songLeaveReview button {
    background-color: purple;
}

/* SODA MACHINE RIGHT */
.sidePanel button {
    border-radius: 50%;
    font-weight: bold;
    padding: 10px;
}

.sidePanel button:hover {
    background-color: cyan;
}

.sidePanel {
    background-color: slategray;
    border-radius: 5px;
}

.sidePanel h4 {
    background-color: whitesmoke;
    border-radius: 3px;
    color: black;
    font-size: 22pt;
    height: 40px;
    width: 40px;
}

/* DISPENSER */
.dispenser {
    background-color: black;
    height: 150px;
    width: 350px;
    border-radius: 5px;
    margin: 3rem;
}
.dispenseOuter {
    background-color: brown;
    height: 150px;
    width: 350px;
    border-radius: 5px;
    animation: blinks 3s linear infinite;
}

.dispenseInner {
    background-color: bisque;
    height: 125px;
    width: 325px;
    border-radius: 5px;
    animation: blinks 3s linear infinite;
}

@keyframes blinks {
    50% {
        opacity: 0;
    }
}

.dispenseLogo {
    height: 50px;
    width: 50px;
}

.note {
    height: 9%;
    width: 9%;
}

.notes {
    animation: fly 5s linear infinite;
    bottom: 25px;
    right: -200px;
    position: sticky;
    z-index: 999;
    pointer-events: none;
}

@keyframes fly {

    0% {
        transform: translateY(-100px);
        opacity: 1;
    }

    50% {
        transform: translateX(-150px);
        opacity: 1;
    }

    75% {
        transform: translateY(100px);
        opacity: 1;
    }

    100% {
        transform: translateX(150px);
        opacity: 1;
    }
}

/* HOME PAGE STUFF */
.addNewAlbum {
    background-color: brown;
    border-radius: 25px;
}

.addNewAlbum input {
    background-color: slategray;
    border-radius: 3px;
    /* border: none; */
    color: white;
}

.addNewAlbum input::placeholder {
    color: black;
}

/* FOOTER */
footer .navs {
    font-weight: bold;
}

footer {
    background-color: darkcyan;
    color: white;
    bottom: 0;
}

.copyright {
    font-style: italic;
    font-size: 12pt;
    color: white;
}

/* ABOUT US */
.companyInfoLogo {
    height: 40px;
    width: 40px;
}

.content {
    color: black;
}

.aboutUs {
    color: white;
    font-weight: bold;
    text-decoration: none;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 0.5s;
    visibility: hidden;
    opacity: 0;
}

.overlay:target {
    visibility: visible;
    opacity: 1;
}

.popup {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    background-color: darkcyan;
    border-radius: 5px;
    width: 30%;
    position: relative;
    transition: all 0.5s ease-in-out;
    text-align: center;
    overflow: auto;
}

.popup h2 {
    margin: 10px;
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
    font-size: 16px;
}

.popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}

.popup .close:hover {
    color: goldenrod;
}

#popup1 h2 {
    color: white;
}

#popup1 .content {
    color: white;
}
.super {
    overflow: auto;
}
/* OUR DEV TEAM */
#popup2 {
    overflow: auto;
}

#popup2 h2 {
    color: white;
}

.linkLogo {
    height: 20px;
    width: 20px;
}

.devPics {
    height: 150px;
    width: 150px;
}

.teamList {
    text-align: center;
    background-color: darkcyan
}

.teamList li {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.teamList li:hover {
    background-color: rgb(8, 102, 102);
}